nav {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    border-top: 7px solid #FFCC00;
    ul {
        display: table;
        table-layout: fixed;
        width: 100%;
        /* border-spacing: 2rem 0; */
    }

    li {
        display: table-cell;
        text-align: center;
        /*vertical-align: middle;  Comportamiento como se espera para table cell */
    }

    a { 
        padding: 1em 1em;
        display: inline-block; // Borde hasta el padding
        border-bottom: 4px solid transparent; // Para el desplazamiento de la caja inferior
        transition: border-bottom 1s linear; // Efecto menos brusco
        &:hover {
            border-bottom: 4px solid #FFCC00;  
        }
    }
}


main {
    height: 10rem;
    background-color: silver;
}