@charset "UTF-8";
#uno {
  height: 10rem; }

#dos {
  height: 20rem; }

#tres {
  height: 40rem; }

div {
  background-color: salmon;
  color: white;
  border: 1px solid;
  width: 20rem;
  height: 20rem;
  padding: 2em;
  display: inline-block;
  /** 
     * Versión 1.0
     * Alineación por la línea base de texto de las cajas
    vertical-align: baseline; // Valor por defecto
     */
  /* 
     * Versión 2.0
     * Aliación por la parte superior
    vertical-align: top;
     */
  /* 
     * Versión 3.0
     * Alineación por la parte inferior
    vertical-align: bottom;
     */
  /* 
     * Versión 3.0
     * Alineación por la parte inferior
    vertical-align: middle;
     */ }
