.box{
    height: 20rem;
    width: 20rem;
    background-color: deepskyblue;
    margin: 10rem auto 0;
    color: white;
    text-align: center;
    line-height: 20rem;
    font-size: 2rem;
}
/*
.box{
    transform: translateX(200px);
    transform: translateX(-200px);
    transform: translateY(200px);
    transform: translateY(-200px);
    transform: translate(100px, 100px);
}
*/
/*
.box{
    transform: skew(20deg);
    transform: skew(-20deg);
}
*/
/*
.box{
    transform-origin: top left;
    transform: rotate(-20deg);
}
*/
/*
.box{
    transform: scale(1.5);
    transform: scale(0.5);
}
*/
/*
.box{
    transition: color 1s ease-in-out;
    &:hover{
        color: grey;
    }
}
*/
/*
.box{
    transition: color 1s ease-in-out, background-color 2s ease;
    &:hover{
        color: grey;
        background-color: salmon;
    }
}
*/
/*
.box{
    transition: transform 3s ease;
    &:hover{
        transform: scale(1.5);
    }
}
*/

.box{
    transition: all 4s ease;
    &:hover{
        font-size: 5rem;
        background-color: lime;
        transform: scale(1.5);
        transform: rotate(3600deg);
        border-radius: 10rem;
    }
}