div {
    border: 1px solid; // Para ver sus dimensiones 
    width: 30%; // Ocupa un 30% sin embargo no permite elementos a sus lados como si ocupara todo el ancho disponible
    height: 20rem; // También permite establecer un alto
}