body{
    font-family: sans-serif;
    font-size: 1.5em;
    padding: 1rem;
    color: #777;
}
main{
    max-width: 900px;
    margin-bottom: 2em;
    border: 1px solid blue;
    display: flex;
}
.col{
    height: 4rem;
}
section{
    background-color: deepskyblue;
    flex-grow: 1;
    flex-basis: 400px;
}
aside{
    background-color: salmon;
    flex-grow: 1;
    flex-basis: 100px;
}












/*
body  {
    font-family: sans-serif;
    color: #777;
    font-size: 1.5em;
    padding: 1rem;
} 

main {
    max-width:  900px;
    margin-bottom: 2em;
    border: 1px solid blue;
    display: flex;

}

.col {
    height: 4rem;
}

section {
    background-color: deepskyblue;
    flex-grow: 1;
    // flex-basis: 400px;
}

aside {
    background-color: salmon;
    flex-grow: 1;
    // flex-basis: 100px;
}
*/