body {
    background-color: rgba(0,0,0, .1);
    font: 1.1rem sans-serif;
    text-transform: uppercase;
    color: white;
}

.grid {
    padding: 1rem;
}

.grid-item {
    padding: 1.5rem;
    border-radius: .3rem;
    background-color: #E92763;
}

/*********************************************************/

.grid {
    display: grid;
    gap: .5rem;
    min-height: 100vh;
    grid-template-columns: [first nav-start] minmax(200px, 20%)
                           [nav-end main-start] 1fr
                           [main-end sidebar-start] minmax(200px, 20%) [sidebar-end last];
    grid-template-rows: [first header-start] minmax(4rem, auto)
                        [header-end main-start] 1fr
                        [main-end footer-start] minmax(4rem, auto) [footer-end last];
}

.header {
    grid-column: first / sidebar-start;
}

.nav {
    grid-column: nav-start / nav-end;
}

.sidebar {
    grid-column: sidebar-start / sidebar-end;
    grid-row: header-start / footer-start;
}

.footer {
    grid-column: first / last;
}