body {
    background-color: rgba(0,0,0, .1);
    font: 1.1rem sans-serif;
    text-transform: uppercase;
    color: white;
}

.grid {
    padding: 1rem;
}

.grid-item {
    padding: 1.5rem;
    border-radius: .3rem;
    background-color: #E92763;
}

/*********************************************************/

/**
 * Step 1: Areas nombradas
 */
.grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "header header header"
        "sidebar main main"
        "footer footer footer";
    min-height: 100vh;
    grid-auto-rows: 4rem 1fr 4rem;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

/**
 * Step 2: Areas nombradas con celdas en blanco

.grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        ". header header"
        "sidebar main main"
        "footer footer footer";
    min-height: 100vh;
    grid-auto-rows: 4rem 1fr 4rem;
}
 */
/**
 * Step 3: Otro ejemplo

 .grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
        "sidebar header header"
        "sidebar main main"
        "sidebar footer footer";
    min-height: 100vh;
    grid-auto-rows: 4rem 1fr 4rem;
}
 */