
/**
    box-sizing: border-box a todos los elementos del html
*/
*, *::before, *::after, *:before, *:after {
    box-sizing: border-box;
}

/**
    Para evitar los espacios que deja por defecto el navegador
    Antecedente de la futura hoja de reset
*/
body {
    padding: 0;
    margin: 0;
}

/**
    PASO 1
    Cada uno de los "div/cajas" tendrá un ancho de 22% dejando un 12% (3% x 4 elementos) de manera que deberíamos dejar un 4% de espacio entre los diferentes "div/cajas" para que nos queden correctamente distribuidos
    Sin embargo estableciendo la propiedad "margin-right: 3%" estableceriamos 4 margenes con lo que los elementos no quedarían correctamente distribuidos
    Peor aún si establecerieramos el "margin-right: 4%" porque nos sobráría el margen derecho del "div/caja" situado más a la derecha
*/
.box {
    width: 22%;
    height: 20rem;
    background-color: salmon;
    color: white;
    float: left;
    padding: 2rem;
    border: 10px solid blue;
    margin-right: 3%; 
}


/**
    Versión mejorada 2.0
.box {
    width: 22%;
    height: 20rem;
    background-color: salmon;
    color: white;
    float: left;
    padding: 2rem;
    border: 10px solid blue;
    margin-right: 4%; 
}

.box:last-child {
    margin-right: 0; 
}

*/
/**
    Versión mejorada 3.0
.box {
    width: 22%;
    height: 20rem;
    background-color: salmon;
    color: white;
    float: left;
    padding: 2rem;
    border: 10px solid blue;

}

.box:not(:last-child) {
    margin-right: 4%; 
}
*/

/**
    NOTA IMPORTANTE
    En el live server de Visual Studio Code no funcionará ya que el último elemento no es el último div, sino un script que introduce el live-server, ver en el inspector
*/



