body {
    padding: 1em;
}


.button {
    border: 1px solid;
    display: table;
    height: 3rem;
    width: 15rem;
    padding: 0 2em;
    
    span {
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }
}
