nav {
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    border-top: .5em solid gold;

    ul {
        display: table;
        table-layout: fixed;
        width: 100%;

        li {
            display: table-cell;
            text-align: center;

            a {
                padding: 1em 1em;
                display: inline-block;
                border-bottom: 4px solid transparent;
                transition: border-bottom .4s ease;
                &:hover {
                    border-bottom: 4px solid gold;

                }
            }
        }
    }

}

main {
    height: 10rem;
    background-color: silver;
}