html {
    height: 100%; // El body desborda, porque el html tiene el 100% de su padre -> la ventana
}

.padre {
    height: 130vh; // 100vh sería el alto de la ventana
    width: 70%;
    margin: 0 auto;
    background-color: lighten(gray, 20%);
    border-bottom: 10px solid black;
}

/**
 * STEP 01. Elemento fixed 
 * El elemento no se visualiza ya que el ancho ocupa su contenido o es necesario establecerselo
 */
.hijo {
    height: 5rem;
    background-color: deepskyblue;
    position: fixed; // Sin ancho ocupa lo que ocupa su contenido
}

/**
 * STEP 02. Establecemos ancho
 * Le pongo ancho del 100%, pero el ancho es respecto de la ventana. 
 */
.hijo {
    width: 100%; // ERROR
}

/**
 * STEP 03. Establecemos ancho correctamente
 * Le pongo ancho del 100%, pero el ancho es respecto de la ventana. 
 */
.hijo {
    width: 70%;
} 

