.contenedor {
    margin-bottom: 20px;
    background-color: #0275D8;
    color: #FFF;

    div {
        background-color: rgba(255, 255, 255, .2);
        padding: 15px;
        border: 1px solid black;
    }    
}

