.row-style {
    background-color: #e8e8e8;
    margin-top: 40px;
    margin-bottom: 40px;

    .col-style {
        background-color: #f2f2f2;
        text-align: center;
        padding: 10px;
        border: 1px solid #4d5061;
    }
}

.title {
    margin: 2rem 0;
    border-bottom: 1px solid black;
}

