body {
    font: 3em sans-serif;
    background-color: rgba(0,0,0,.2);
    color: white;
}

.grid {
    padding: 1rem;
}

.grid-item {
    padding: 1.5rem;
    border-radius: 1rem;
}

.grid-item:nth-child(2n) {
    background-color: #1A83B5;
}

.grid-item:nth-child(2n + 1) {
    background-color: #37A8E0;
}

/********************************************************************/
/**
 * 
 */
.grid {
    display: grid;
    min-height: 200vh;
    grid-gap: 1rem;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 15rem;
    grid-auto-rows: max-content;
}

/**
 * 
.grid {
    display: grid;
    min-height: 300vh;
    grid-gap: 1rem;
    grid-template-columns: 20% 1fr 1fr;
    grid-template-rows: 15rem 2fr 1fr;
    grid-auto-rows: max-content;
}
 */