.flex-container {
    background-color: salmon;
    color: white;
    padding: 1em;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-content: flex-start;
    align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    

    /**
     * STEP 01
     */
    //align-content: flex-start;
     
     /**
      * STEP 02
      */
    //align-content: flex-end;

    /**
     * STEP 03
     */ 
    //align-content: center;

    /**
     * STEP 04
     */
    //align-content: space-between;

    /**
     * STEP 05
     */
    //align-content: space-around;
    // align-items: center;
}

.flex-item {
    font-size: 5em;
    background-color: deepskyblue;
    border: 3px solid;
}
