.box{
    height: 20rem;
    width: 20rem;
    background-color: coral;
    margin: 10rem auto 0;
    animation: animacion 10s linear 3 forwards;


}

@keyframes animacion{
    0%{
        transform: rotate(0);
        background-color: salmon;
        border-radius: 0 0 0 0;
    }

    25%{
        transform: rotate(45deg);
        background-color: skyblue;
        border-radius: 50% 0 0 0;
    }

    50%{
        transform: rotate(90deg);
        background-color: orchid;
        border-radius: 50% 0 0 50%;
    }

    75%{
        transform: rotate(135deg);
        background-color: mediumpurple;
        border-radius: 50% 0 50% 50%;
    }

    100%{
        transform: rotate(180deg);
        background-color: darkseagreen;
        border-radius: 50% 50% 50% 50%;
    }
}