
/**
    Version 1.0

div {
    width: 20rem;
    height: 20rem;
    background-color: salmon;
    color: white;
}
 */


/**
    Version 2.0
div {
    width: 20rem;
    height: 20rem;
    background-color: salmon;
    color: white;
    padding: 2rem;
    border: 5px solid blue;
}
*/

