@charset "UTF-8";
/**
 Ambito de las variables. Solo en el contexto en donde se definen
*/
p {
  font-size: 14px; }

/** 
 Los guiones medios y bajos son equivalentes
 */
p {
  font-family: "Georgia", serif; }

/*
 Sass entiende todos los tipos de datos que podamos tener en css
 darkgreen
 #006400
 hsl(120, 100%, 20%)
 rgb(0, 100, 0)
 Todos estos valores representan el mismo tono de verde y Sass los interpreta de la misma forma
 */
/* 
  Con Sass números simples y números con unidades son entendidos e interpretados por Sass, teniendo en cuenta que no se pueden mezclar diferentes unidades en una operación
  10
  14px
  50%
  8em
  */
/*
   Sass entiende 7 tipos de datos
        - De CSS
            - Cadenas
            - Números 
            - Colores
        - Extendidos de Sass
            - Boolean
            - null
            - listas
            - maps
*/
/**
 Ejemplos con cadenas
 */
/*
$cadena: 'valor';
@if ($cadena == 'valor') { } // True
@if ($cadena) {} // True
*/
/*
$cadena1: 'Hola';
$cadena2: ' mundo!!!!!!!!';
$cadena3: $cadena1 + $cadena2; // Hola mundo

div::before { content: $cadena3; }
*/
/**
 Ejemplos con números
 */
/*
$numero1: 14%;
$numero2: 2;
$resultado: $numero1 + $numero2;
div::before { content: $resultado; }
 */
/*
$numero1: 6em;
$numero2: 2;
div {
    margin-bottom: ($numero1 / $numero2)
}
*/
/**
 Ejemplos con el valor null
$var: null;
$var: 6;
 */
/** 
  Ejemplos con tipos booleanos
  */
/**
 Interpolaciones
 Su sintasix es: 
*/
/*
p {
  background-image: url("icon-png"); }

.icon-facebook {
  background-image: url("facebook.icon"); }

.icon-twitter {
  background-image: url("twitter.icon"); }

.icon-linkedin {
  background-image: url("linkedin.icon"); }
*/

/**
 Mapas
 Su sintaxis es:
 $mapa: (clave:valor, clave:valor, ...)
 map-get($mapa, clave);
 
 */

