body {
    background-color: rgba(0,0,0, .1);
    font: 1.1rem sans-serif;
    text-transform: uppercase;
    color: white;
}

.grid {
    padding: 1rem;
}

.grid-item {
    padding: 1.5rem;
    border-radius: .3rem;
    background-color: #E92763;
    line-height: 2rem;
    text-align: center;
}

/*********************************************************/

.grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(2, 5rem) [main-start] repeat(2, 5rem) [main-end] repeat(2, 5rem);
    grid-template-rows: 5rem [main-start] 5rem 5rem [main-end] 5rem;
}

.item9 {
    grid-area: main;
    background-color: salmon;
}