.row > div {
    text-align: center;
    margin: 10px 0;
}

.uno {
    background-color: #f2f2f2;
}

.dos {
    background-color: #dbdbdb;
    // padding: 0 40px;
}

.tres {
    background-color: #f2f2f2;
}