p {
    background-color: deepskyblue;
    margin-bottom: 5em;
    padding: 1em;
    /*
    Paso 2
    &:nth-of-type(2) {
        clear: right;
    }
    */
    
}

img {
    float: right;
    margin: 1em;
}