body {
    font: 3em sans-serif;
    background-color: rgba(0,0,0,.2);
    color: white;
}

.grid {
    padding: 1rem;
    border: 2px solid white;
    margin: 1rem;
}

.grid-item {
    padding: 1.5rem;
    border-radius: 1rem;
}

.grid-item:nth-child(2n) {
    background-color: #1A83B5;
}

.grid-item:nth-child(2n + 1) {
    background-color: #37A8E0;
}

/********************************************************************/

.grid {
    display: grid;
    min-height: 90vh;
    gap: 1rem;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 7rem);
    grid-template-areas: 
        "a b b"
        "a c c"
        "d d d";
}

.item1 {
    grid-area: a;
}
.item2 {
    grid-area: b;
}
.item3 {
    grid-area: c;
}
.item4 {
    grid-area: d;
}

.grid {
    justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;

    align-content: start;
    align-content: end;
    align-content: center;
    align-content: space-around;
    align-content: space-between;
    align-content: space-evenly;
}