.card {
    height: 20rem;
    width: 15rem;
    background-color: deepskyblue;
    border: 10px solid #DDD;
    color: white;
    font-size: 3em;
    padding: 1em;
}

@for $i from 2 through 5 {
    .card:nth-child(#{$i}) {
        position: absolute;
        left: 8rem * ($i - 1);
        top: 4rem * ($i - 1);
        @if ($i == random($limit: 5)) {
            z-index: 1;
        }
    }
}