header{

    padding: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav{
        color: gray;
        font-size: .9em;
        flex-grow: 1;

        ul{
            display: flex;
            justify-content: space-around;
        }

    }

    .tools{
        >span{
            background-color: gray;
            font-size: 1.5em;
            color: white;
            display: inline-block;
            height: 50px;
            width: 50px;
            text-align: center;
            line-height: 50px;
        }

    }
}
@media(max-width: 600px){
    header{

        padding: 3em;
        flex-direction: column;
    
        nav{
            
            font-size: 1em;
            width: 100%;
            text-align: center;
    
            ul{
                
                flex-direction: column;
                li{
                    padding: .5em;
                }
            }
    
        }
        .tools{
            display: none;
        }
    }
}







/*
header {
    padding: 3em;

    /**
     * STEP 01
     
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
        color: #8b8b8b;
        text-transform: uppercase;
        font-size: 0.9em;
        // flex-grow: 1;
        /**
        * STEP 02
              
        ul {
            display: flex;
            // justify-content: space-around;
            // align-items: center;
            li {
                padding: 1em;
            }
        }
    }
    

    .tools {
        >span {
            background-color: #8b8b8b;
            display: inline-block;
            font-size: 1.5em;
            // padding: 1.5em;
            height: 50px;
            width: 50px;
            text-align: center;
            line-height: 50px;
            color:white;
            &:last-child {
                margin-left: .5em;
            }
        }
    }
}
*/