div {
  border: 1px solid;
  font-size: 3em;
  margin-bottom: 0.5em;
  /* font-size: 0; */ }

div:nth-child(2) img {
  display: block; }

div:nth-child(3) img {
  vertical-align: bottom; }

div:last-of-type {
  font-size: 0; }
