nav {
    background-color: salmon;
    overflow: hidden;
    ul {
        color: white;
        float: right;
        &::after {
            content: '';
            display: block;
            clear: both;
        }

        li {
            background-color: blue;
            margin: 1em;
            float: left;

            a {
                padding: 0.5em 1em;
                display: block;
            }
        }
    }
}



/*
ul {
    background-color: salmon;
    color: white; // Tipografía en color blanco, para que cuando establezcamos los elementos en float: left el contenedor pierda su altura y no veamos nada
    // overflow: hidden; // Método 1. Para restablecer la altura del contenedor
    border: 1px solid black;
    &::after {
        content: '';
        display: block;
        clear: both;
        // height: 5px;
        // background-color: gray;
        
    }
    li {
        float: left; 
        background-color: deepskyblue;
        margin: 1em;
        a {
            padding: .5em 1em;
            display: block;
        }
    }
}
*/
// ¿Que pasaría si yo quisiera flotar los elementos a la derecha
/* 
 * No funciona
 ul {
        li {
            float: right; // Se ponen al reves!!!
        }
 }
 */

// Si funciona
/*
nav {
    overflow: hidden;
    background-color: salmon;
    ul {
        color: white; 
        float: right;    
        &::after {
            content: '';
            display: block;
            clear: both;
        }
        li {
            float: left;
            background-color: deepskyblue;
            margin: 1em;
            a {
                padding: .5em 1em;
                display: block;
            }
        }
    }
}*/