body {
    font: 3em sans-serif;
    background-color: rgba(0,0,0,.2);
    color: white;
}

.grid {
    padding: 1rem;
}

.grid-item {
    padding: 1.5rem;
    border-radius: 1rem;
}

.grid-item:nth-child(2n) {
    background-color: #1A83B5;
}

.grid-item:nth-child(2n + 1) {
    background-color: #37A8E0;
}

/********************************************************************/

.grid {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(3, 1fr); // Equivale a grid-template-columns: 1fr 1fr 1fr
    grid-template-columns: 200px repeat(3, 1fr); // Equivale a grid-template-columns: 200px 1fr 1fr 1fr
    // grid-template-columns: 20% repeat(2, 1fr);
    // grid-template-columns: 20% repeat(2, 1fr) repeat(2, 10rem);
    // grid-template-columns: repeat(2, 200px 1fr)
}

