body {
    font: 3em sans-serif;
    background-color: rgba(0,0,0,.2);
    color: white;
}

.grid {
    padding: 1rem;
}

.grid-item {
    padding: 1.5rem;
    border-radius: 1rem;
}

.grid-item:nth-child(2n) {
    background-color: #1A83B5;
}

.grid-item:nth-child(2n + 1) {
    background-color: #37A8E0;
}

/********************************************************************/

.grid {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: minmax(150px, 250px) 1fr;
    // grid-template-columns: minmax(150px, 20%) repeat(2, fr);
    // grid-template-columns: minmax(150px, 20%) repeat(2, minmax(200px, 1fr));
}